@{
    ViewBag.Title = "About Us";
}

<div class="page-title intro grid_16">
    <h2>About</h2>
</div>

<div id="about" class="single-col grid_16">
    @Html.Raw(ViewBag.AboutArea)
</div>

