@{
    ViewBag.Title = "Enquiry Sent Successfully";
}

<div class="page-title intro grid_16">
    <h2>Success</h2>
</div>

<div id="success" class="single-col grid_16">

    <p>Thank you. Your enquiry has been sent successfully.</p>

</div>

