@{
    ViewBag.Title = "Contact";
}

<div class="page-title intro grid_16">
    
    <h2>Contact</h2>

</div>

<div class="single-col grid_8">
    <p>Contact form - (will use probably use email)</p>
</div>

<div class="single-col grid_8">
    <p>address / phone / facebook / twitter links</p>
</div>