<div class="page-title intro grid_16">
    <h2>Book now!</h2>
</div>

<div class="single-col grid_16">

<p>
We provide a range of innovative quality interactive drama workshops, assemblies and Play in a Day for schools and drama workshops and role play for organisations to develop educational, professional, personal, social and creative development.
</p>
<p>
All of our drama work in schools has been developed in line with National Curriculum, raise awareness of specific issues and topics, create a safe forum for debate, and encourage an emotional connection to the work by making learning fun. It is really important to us that we provide your school the very best drama programme we can for your individual needs and budget.
</p>
<p>
Our drama work with adult groups or organisations is varied – we offer bespoke drama workshops, forum theatre and role play for training and events and teambuilding days.
</p>
<p>
Hopefully you will get as much enjoyment from our work as we do.
</p>
</div>
