@{
    ViewBag.Title = "Index";
}

<div class="page-title intro grid_16">
    <h2>Admin</h2>
</div>

<div class="single-col grid_16">

    <p>
        @Html.ActionLink("Bookings", "List", "Book") 
        <br />
        @Html.ActionLink("Web Conetent", "List", "WebContent")
    </p>

   
</div>