@{
    ViewBag.Title = "Change Password Success";
}

<div class="page-title intro grid_16">
    <h2>Success</h2>
</div>

<div class="single-col grid_16">
    <p>
        Your password was changed successfully.
    </p>
</div>
