@{
    ViewBag.Title = "BookingSuccess";
}

<div class="page-title intro grid_16">
    
    <h2>Success</h2>

</div>

<div id="success" class="single-col grid_16">

    <p>Your booking information has been recived - We will be in touch as soon.</p>

</div>

