@model DayDramaing.Models.CreateBookModel
           
@{
    ViewBag.Title = "Index";
}

<div class="page-title intro grid_16">
    <h2>Book</h2>
</div>


<div id="book" class="single-col grid_16">


    @Html.Partial("BookForm", Model)

</div>


