#wrapper
{
    font-family:"Lucida Sans Unicode","Lucida Grande",garuda,sans-serif;
    font-size:13px;
    line-height:21px;
    color:#424242
}

#header
{
    height: 200px;
    border-bottom: 1px solid #000;
    background-image: url('images/header-background.jpg');
}

#header-left, #header-right {
    position: relative;
    z-index: 10;
}

#header-left {
	padding-top: 16px;
}
#header-right {
	float: right;
}

#homepage-content {
	
	
}

#footer
{
    background: #5EAEFF url('images/footer-shadow.png') no-repeat center top;
    color: white;
    padding: 25px 0 120px 0;
    margin-top: 0px;
}
#footer #links-credit {
	position: relative;
}
#footer #links-credit ul {
margin: 0;
padding: 0;
position: absolute;
right: 0;
}
#footer #links-credit li {
display: inline;
margin: 0 1em 0 0;
padding: 0 1em 0 0;
border-right: 1px solid 
#CCC;
}
#footer #links-credit li:last-child {
border-right: none;
margin-right: 0;
padding-right: 0;
}
#footer a:link, #footer a:visited {color: white;}
#footer a:hover{text-decoration:none;}
#copyright p{padding-top:5px;}
	
#nav
{
	margin-left: 10px;
    position: absolute;
    right: 10px;
    font-family: bryant-web-1, bryant-web-2, sans-serif;
}
#nav ul
{
    display: block;
    margin: 50px 0 0 0;
    padding: 0;
}
#nav li {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}
#nav li a
{
    text-decoration: none;
    text-shadow: none;
    padding: 10px 10px;
    color: #F4F4F4;
    font-size: 1.213em;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
#nav li a:hover
{
    color: #000000;
    background-color: #F2F2F2;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#nav li a:actve
{
    background-color: #4D4D4D;
}

#logo 
{
    margin-top: 25px;
	font-size: 70px;
	font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
}
#logo a, #logo a:hover, #logo a:active
{
    line-height: 0.9em !important;
    background: none;
    color: #353535;
    outline: none;
    text-decoration: none;
    text-shadow: 0.02em 0.02em #333;
}
.logo-sub
{
    color: #F973B9;
    font-size: 20px;
    font-style: italic;
    font-variant: normal;
}

.floatleft {
    float: left;
    margin: 0 15px 10px 0 !important;
}
.floatright {
    float: right;
    margin: 0 0 10px 15px !important;
}

.content
{
    margin: 1em 0 0 0;
}

#main
{
    background: #D9E3F2 none repeat scroll 0 0;
    margin: 0 auto;
    width: 980px;
    min-height: 1000px;
}

.intro
{
    color: #333333;
    margin-top: -13px;
    overflow: hidden;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: block;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.4em;
    text-align: left;
    background-color: #FFFFFF;
}

.intro p {
	
	margin-top: 1em;
	padding: 0.6em;
}

.page-title h2 {
	
	margin-top: 1em;
	padding: 0.5em;
}

.single-col {
	
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    margin-top: 1em;
    line-height: 1.4em;
    text-align: left;
    background-color: #FFFFFF;
}

.single-col p 
{
    margin: 1em;
    padding: 0.2em;
}

.single-col fieldset 
{
    margin-top: 1em;
    padding: 0.6em;
}


/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }
    
    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

    fieldset label {
        display: block;
        font-size: 1em;
    }

    fieldset label.checkbox {
        display: inline;
    }

    fieldset input[type="text"],
    fieldset input[type="password"],
    textarea
    {
        border: 1px solid #e2e2e2;
        color: #333;
        font-size: 1.2em;
        margin: 5px 0 6px 0;
        padding: 5px;
        width: 95%;
    }
    textarea
    {
        min-height:  200px;
    }


        fieldset input[type="text"]:focus,
        fieldset input[type="password"]:focus {
            border: 1px solid #7ac0da;
        }

    fieldset input[type="submit"] {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        width: 150px;
    }
    
    
#book fieldset textarea 
{
    min-height: 100px !important;
}
#book fieldset label
{
    display: inline;
}

#book .field-validation-error {
	display: inline;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error
{
    color: #e80c4d;
    display: block;
    font-weight: lighter;
    font-style: italic;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error, input[type="password"].input-validation-error, textarea.input-validation-error

{
    border: 1px solid #e80c4d;
    background-color: #EEDBFF;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.button {
	margin : 1em 0 1em 0em;
}

#errors {
	margin: 1em;
}

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
    width: 100%;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

#list table {
	margin: 1em;
	width: 97%;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.display-field
{
    min-height: 16px;
    border: 1px solid #DFDFDF;
    padding: 0.5em;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}